.tile {
  cursor: pointer;
}

.tile:hover .hex {
  filter: brightness(0.9);
}

.hex {
  transition: filter 0.15s ease;
}

.hexCenter {
  fill: #f7da21;
}

.hexSurrounding {
  fill: #e6e6e6;
}

.letter {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  user-select: none;
  pointer-events: none;
}
